body{
  background-image:url("./background.jpg") ;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat:no-repeat; 
}
.pic2{
display: flex;
min-height: 50px;
max-height: 50px;
min-width: 50px;
min-height: 50px;
border-radius: 50%;
margin-left: -90px;
margin-top: 5px;

}

.cam{
  
  background-color: white;
  width: 50px;
  height: 20px;
  margin-left: 10px;
  margin-top: 20px;
  border: 0pc;
  border-radius: 10%;
}


.content{
  height: 10px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
}
.txtfield{
  margin-bottom: 2mm;
  width: 550px;
  height: 25px;
  border-radius: 2%;
  border: 1px;
  
}
.updtbtn{
  padding-bottom: 0px;
  background-color: rgb(9, 4, 58);
  font-size: 15px;    
  margin-left: 0px;
  width: 90px;
  height: 30px;
  border-radius: 64px;
  border: 0px;
  
}
